.actionButton {
  text-align: center;
  width: 30%;
  align-self: center;
}

.actionButton button {
  font: inherit;
  cursor: pointer;
  background-color: #000000;
  border: 1px solid #000000;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  font-size: xx-small;
  margin-left: -2rem;
  width: 8rem;
}

.actionButton button:hover,
.actionButton button:active {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}
